@model CollegeProject_MVC.Models.NewStoryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <p>@ViewBag.WelcomeMessage</p>
    </div>
</body>
</html>
